<div class="header animate__animated animate__fadeIn">
  <div class="section">
    <span class="title">ZOOM Clone</span>
  </div>
  <div class="section">

    <ul class="list-menu">
      <li class="btn-menu">
        <i class="uil uil-estate"></i>
      </li>
      <li class="btn-menu">
        <i class="uil uil-share"></i>
      </li>
      <li class="btn-menu">
        <i class="uil uil-github"></i>
      </li>
    </ul>

  </div>
  <div class="section">
    <div class="wrapper-avatar">
      <img src="https://avatars.githubusercontent.com/u/15802366?s=460&u=ac6cc646599f2ed6c4699a74b15192a29177f85a&v=4" alt="">
    </div>
  </div>
</div>

<div class="wrapper-body">
  <div class="block animate__animated animate__fadeIn" (click)="goToRoom()">
    <div class="btn-block">
      <i class="uil uil-video"></i>
    </div>
    <div class="label-title">Nueva reunión</div>
  </div>
</div>
